/* Best Design Website 
1. https://crello.com/user/settings/account/
*/
/* Building colors */
@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
  
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value
            )
          ) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  
  $themes: (
    white: (
      "themedColor": #1d82ff,
      "bodyBackground": #f2f4f9,
      "textColor": #868e96,
      "textColorDark": #212529,
      "textColorLight": #868e96,
      "inputTextColor": #495057,
      "inputBackgroundColor": #f2f2f2,
      "inputBorderColor": #ffffff,
      "boxBorder": #e9ecef,
      "boxBorderActive": #1d82ff,
      "boxBorderShadow": #777,
      "colorGreen": green,
      "colorRed": red,
      "colorBlue": blue,
      "colorWhite": #ffffff,
      "colorExtremeLight": #e2dddd,
      "colorBlack": #212121
    ),
    light: (),
    dark: ()
  );
  
  $color-black: #111111;
  $color-white: #ffffff;
  
  /*Mixins*/
  @mixin for-size($size) {
    @if $size==phone {
      @media (max-width: 640px) {
        @content;
      }
    } @else if $size==tablet {
      @media (max-width: 840px) {
        @content;
      }
    } @else if $size==desktop {
      @media (min-width: 901px) {
        @content;
      }
    } @else if $size==big-desktop-up {
      @media (min-width: 1800px) {
        @content;
      }
    }
  }
  
  /* Global Items */
  
  @import url("https://fonts.googleapis.com/css?family=Lato:400");
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
  }
  
  body {
    @include themify($themes) {
      color: themed("textColor");
      background-color: themed("bodyBackground");
    }
  
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
  
    &.inspect {
      div {
        border: 1px solid green;
      }
    }
  }
  
  /* Defing the gap in mobile devices */
  .container {
    width: 840px;
    margin: 0 auto;
  
    @include for-size(tablet) {
      width: 100%;
      padding: 0 80px;
    }
  
    @include for-size(big-phone) {
      width: 100%;
      padding: 0 50px;
    }
  
    @include for-size(phone) {
      width: 100%;
      padding: 0 20px;
    }
  }
  
  /*define grid */
  .gridBlock {  
    width: 100%;
    display: flex;
    overflow: hidden;

    &.horizontal {
      place-content: space-between;
      flex-direction: row;
      @include for-size(phone) {
        flex-direction: column;
      }
      & > div{
        @include for-size(phone) {
          margin-bottom: 20px;
        }
      }
    }
    &.vertical {
      place-content: space-between;
      flex-direction: column;
      & > div{
        margin-bottom: 20px;
      }
    }

    @include for-size(phone) {
      display: block;
      flex-direction: column;
    }

  
    /* Layouts : We define 4 layouts */
    .oneByOne {
      width: 100%;
    }
  
    .oneByTwo {
      @include for-size(phone) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
      }
  
      width: 50%;
    }
  
    .oneByThree {
      @include for-size(phone) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
      }
  
      width: 33.33%;
    }
  
    .oneByFour {
      @include for-size(phone) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
      }
  
      width: 25%;
    }
  
    .twoByThree {
      width: 66.66%;
  
      @include for-size(phone) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  
    .oneByTwo,
    .oneByThree,
    .oneByFour,
    .twoByThree {
      margin-right: 30px;
  
      &:last-child {
        margin-right: 0px;
      }
    }
  
    img {
      width: 100%;
    }
  }
  
  /* Input Form */
  .inputForm {
    input,
    select,
    textarea {
      @include themify($themes) {
        color: themed("inputTextColor");
        background: themed("inputBackgroundColor");
      }
  
      transition: 0.3s all ease;
      border-radius: 0.25rem;
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      height: 50px;
      margin-top: 1rem;
      outline: none;
      border: 1px solid transparent;
  
      &:focus {
        @include themify($themes) {
          border-color: themed("inputBorderColor");
        }
      }
  
      &[type="radio"] {
        width: auto;
        height: auto;
        display: inline;
        margin-left: 2px;
        margin-right: 3px;
      }
  
      &.success {
        border: 1px solid;
  
        @include themify($themes) {
          border-color: themed("colorGreen");
        }
      }
  
      &.error {
        border: 1px solid;
  
        @include themify($themes) {
          border-color: themed("colorRed");
        }
      }
    }
  }
  
  /* Define Button */
  .btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    text-decoration: none !important;
  
    &.primary {
      color: $color-white;
  
      @include themify($themes) {
        background-color: themed("themedColor");
        border-color: themed("themedColor");
      }
  
      &.shadow {
        -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
        -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
        box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
      }
    }
  
    &a {
      text-decoration: none;
    }
  
    &.secondary {
      color: $color-black;
      background-color: transparent;
  
      @include themify($themes) {
        border-color: themed("themedColor");
      }
    }
  }
  
  /* Item List */
  ul {
    &.inlineList {
      width: 100%;
      display: inline-block;
  
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  
    &.oneColumn {
      width: 100%;
  
      li {
        margin-bottom: 45px;
      }
    }
  
    &.twoColumn {
      width: 100%;
  
      li {
        margin-bottom: 45px;
      }
  
      margin-right: 45px;
    }
  }
  
  /* Key value List */
  ul.key_value {
    width: 100%;
  
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-top: 1px dashed rgba(0, 0, 0, 0.3);
  
      p:last-child {
        text-align: right;
      }
    }
  }
  
  // nav bar
  .navBar {
    z-index: 100;
    width: 100%;
    padding: 10px;
  
    &.scrolled {
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: -130px;
      background: #fff;
      transition: 0.3s all ease-out;
      -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      color: #111;
  
      a {
        color: #111;
      }
    }
  
    &.opened {
      margin-top: 0px;
    }
  
    .oneByTwo {
      @include for-size(phone) {
        margin: 0 auto;
      }
    }
  
    ul {
      @include for-size(phone) {
        text-align: center;
      }
    }
  }
  
  /* Style on Text*/
  p {
    display: block;
    width: 100%;
  
    @include themify($themes) {
      color: themed("textColor");
    }
  
    &.heroText {
      font-size: 2.97rem;
      line-height: 1.2;
      width: 800px;
  
      @include for-size(tablet) {
        width: 100%;
      }
  
      @include themify($themes) {
        color: themed("textColorDark");
      }
    }
  
    &.sectionHeading {
      font-size: 2.6rem;
      margin-bottom: 0.5rem;
      line-height: 1.1;
      font-weight: 300;
      font-size: 1.75rem;
  
      @include themify($themes) {
        color: themed("textColorDark");
      }
    }
  
    &.sectionSubHeading {
      @include themify($themes) {
        color: themed("textColorLight");
      }
  
      text-transform: uppercase;
    }
  
    &.itemHeading {
      margin-bottom: 0.5rem;
      line-height: 1.1;
      font-weight: 300;
      font-size: 1.25rem;
  
      @include themify($themes) {
        color: themed("textColorDark");
      }
    }
  
    &.paragraph {
      font-size: 15px;
      font-weight: 300;
    }
  
    &.price {
      span {
        font-size: 18px;
        text-transform: uppercase;
  
        &.value {
          font-size: 50px;
  
          @include themify($themes) {
            color: themed("themedColor");
          }
        }
  
        &.dolor {
          font-size: 20px;
          vertical-align: top;
  
          @include themify($themes) {
            color: themed("themedColor");
          }
        }
      }
    }
  
    span {
      &.bold {
        font-weight: bold;
      }
  
      &.italic {
        font-style: italic;
      }
  
      &.batch {
        color: $color-white;
        padding: 5px 8px;
        font-family: monospace;
        font-size: 12px;
        border-radius: 12px;
  
        &.green {
          @include themify($themes) {
            background: themed("colorGreen");
          }
        }
  
        &.red {
          @include themify($themes) {
            background: themed("colorRed");
          }
        }
  
        &.blue {
          @include themify($themes) {
            background: themed("colorBlue");
          }
        }
      }
    }
  
    a {
      text-decoration: underline;
    }
  }
  
  /* Define Box - TESTED */
  .box {
    @include themify($themes) {
      border: 1px solid themed("boxBorder") !important;
    }
  
    padding: 1em;
  
    &.active {
      @include themify($themes) {
        border-color: themed("themedColor") !important;
      }
    }
  
    &.shadow {
      @include themify($themes) {
        -webkit-box-shadow: 0 10px 6px -6px themed("boxBorderShadow");
        -moz-box-shadow: 0 10px 6px -6px themed("boxBorderShadow");
        box-shadow: 0 10px 6px -6px themed("boxBorderShadow");
        background: white;
      }
    }
  }
  
  /*Table*/
  table,
  th,
  td {
    @include themify($themes) {
      border-top: 1px solid themed("colorExtremeLight");
    }
  
    border-collapse: collapse;
  
    td {
      padding: 22px 10px;
  
      &:first-child {
        padding-left: 0px;
      }
  
      &:last-child {
        padding-right: 0px;
      }
    }
  }
  
  /* Componenets*/
  a {
    @include themify($themes) {
      color: themed("textColor");
    }
  
    text-decoration: none;
  
    &:hover {
      @include themify($themes) {
        color: themed("themedColor");
      }
    }
  }
  
  .notification {
    p {
      @include themify($themes) {
        color: themed("colorWhite");
        margin: 0;
      }
    }
  
    padding: 6px 8px;
    border-radius: 5px;
  
    &.success {
      @include themify($themes) {
        background: themed("colorGreen");
      }
    }
  
    &.info {
      @include themify($themes) {
        background: themed("colorBlue");
      }
    }
  
    &.error {
      @include themify($themes) {
        background: themed("colorRed");
      }
    }
  }
  
  /* Define Gaps */
  
  /* Define Text Align */
  .textCenter {
    text-align: center;
  }
  
  .textLeft {
    text-align: left;
  }
  
  .textRight {
    text-align: right;
  }
  
  .alignMiddle {
    vertical-align: middle;
  }
  
  /* Custom Margin and padding */
  .noMargin {
    margin: 0 !important;
  }
  
  .noPadding {
    padding: 0 !important;
  }
  
  /* define padding */
  $padding_size: (
    n: 0em,
    s: 0.5em,
    m: 1em,
    l: 2em,
    xl: 3em,
    xxl: 4em
  );
  
  @each $element, $size in $padding_size {
    .padding_#{$element} {
      padding: $size;
    }
  }
  
  /* Define gaps */
  $gap_szie: (
    n: 0em,
    s: 1em,
    m: 50px,
    l: 75px,
    xl: 100px,
    xxl: 150px
  );
  
  @each $element, $size in $gap_szie {
    .gap_#{$element} {
      margin-top: $size;
    }
  }
  
  $hgap_szie: (
    n: 0em,
    s: 1em,
    m: 20px,
    l: 35px,
    xl: 50px,
    xxl: 100px
  );
  
  @each $element, $size in $hgap_szie {
    .hgap_#{$element} {
      margin-left: $size;
    }
  }
  
  /* Defining overlapping layer */
  .relativePosition {
    position: relative;
  }
  
  .absolutePosition {
    position: absolute;
  }
  
  /*  we define color scheme  - We need to how this can effect the theme*/
  .colorScheme {
    color: #111111;
    background: transparent;
  
    a,
    a:hover {
      color: #aaaaaa;
    }
  
    p {
      &.sectionSubHeading {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  
    .invertColor {
      color: #ffffff;
      background: transparent;
  
      a,
      a:hover {
        color: #ffffff;
      }
  
      p {
        color: #ffffff;
      }
    }
  }
  
  /* DashBoard Box */
  .dbox {
    background: green;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    min-width: 250px;
    border-radius: 8px;
    min-height: 150px;
    &.success {
    }
  
    &.error {
    }
  
    &.info {
    }
  
    .title {
      font-weight: bold;
      font-size: 3.5rem;
    }
  
    .subtitle {
    }
  
    p {
      margin-top: 0;
    }
  }

  /* Great background */
  .background{
      &.gradient{
        background-image: linear-gradient(319.6deg, rgb(243, 0, 79) 20.5%, rgb(255, 236, 68) 110.9%);
        &.g1{background-image: radial-gradient(circle at 10% 20%, rgb(255, 197, 61) 0%, rgb(255, 94, 7) 90%);}
        &.g2{background-image: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);}
        &.g3{background-image: radial-gradient(circle at 0.4% 34.3%, rgb(65, 199, 58) 1.3%, rgb(28, 86, 25) 90%);}
        &.g4{background-image: linear-gradient(109.6deg, rgb(83, 5, 5) 11.2%, rgb(0, 0, 0) 91.1%);}
        &.g5{background-image: linear-gradient(109.6deg, rgb(221, 62, 84) 11.2%, rgb(156, 76, 186) 100.2%);}
        color: white
      }
  }
  