.d_fullscreen{
    width: 100%;
    height: 100%;
}
.d_fullwdith{
    width: 100%; 
}
.d_layout_frame{
    position: relative;
    width: 100%;
    height: 100%;
    > div {
        position: absolute;
    }
}
.d_layout_row {
    display: flex;
    position: relative;
    flex-direction: row;
}
    /* Axix: center(c), left(l), right(r), s(space between)
    &.cc{
        justify-content: space-evenly | center;
        align-items: center;
    }
    &.lc{
        justify-content: center;
        align-items: center;
    }
    &.rc{
        justify-content: center;
        align-items: center;
    }
    &.sc{
        justify-content: center;
        align-items: center;
    }
}

*/
.d_layout_col{
    display: flex;
    position: relative;
    flex-direction: column;
}

.center{
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
}

.d_layout_fill,._lfi{
    flex: 1;
    display: flex;
}
.d_layout_wrap,._lw {
    flex:auto;
    display: flex;
}
.d_layout_equal ,._le{
    > * {
        flex: 1;
    }
}

/*************  Align logic ************/
// test
.d_align_text_left{
    text-align: left;
}
.d_align_text_right{
    text-align: right;
}
.d_align_text_center{
    text-align: center;
}
//div
.d_align_div_center{
    margin: 0 auto;
}
.d_align_item_edge {

}
.d_align_item_each_other {
    
}



// d_align_h_*, d_align_v_*, d_align_a_*
.d_align_h_center{
    justify-content: center;
}
.d_align_h_left{
    justify-content: left;
}
.d_align_h_right{
    justify-content: right;
}
.d_align_h_space_between{
    justify-content: space-between;
}
.d_align_h_space_around{
    justify-content: space-around;
}
.d_align_h_space_evenly{
    justify-content: space-evenly;
}

.d_align_v_center{
    align-items: center;
}
.d_align_v_top{
    align-items: flex-start;
}
.d_align_v_bottom{
    align-items: flex-end;
}
.d_align_v_baseline{
    align-items: baseline;
}
.d_align_v_stretch{
    align-items: stretch;
}

.d_align_a_center{
    justify-content: center;
    align-items: center;
}
.d_align_t_center{
    text-align: center;
}
.d_align_t_left{
    text-align: left;
}
.d_align_t_right{
    text-align: right;
}


// put divs in center not the text
.layout_center,._lc{
    align-items: center;
    display: flex;
    justify-content: center;
}
// put div and text in center
.layout_align_center,._lac{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.layout_align_left,._lal{
    align-items: left;
    display: flex;
}
.layout_align_right,._lar{
    align-items: right;
    display: flex;
}
.layout_align_bottom,._lab{
    align-items: bottom;
    display: flex;
}
.layout_align_left_right,._lalr{
    justify-content: space-between;
    display: flex;
}


// Definein table
.layout_table {
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    &> div{
        display: flex;
        flex-direction: row;
        border-collapse: collapse;
        border: 1px solid #00000010;
        &.th{
            background-color: #00000011;
        }
        &> div {
            flex:1;
            padding: 1em;
            border-collapse: collapse;
        }
    }
}

.layout_absolute, .layout_relative{
    position: absolute;
    width: 100%;
    height: 100%;
    &.layout_relative{
        position: relative;
    }
}

// This is maily used for widescreen 
.d_layout_section{
    width: 940;
    margin: 40 auto;
}
// This is maily used for widescreen 
.d_layout_container{
    width: 940;
    margin: 0 auto;
}


